* {
	box-sizing: border-box;
}

body {
    background-color:rgb(236, 224, 208);
    
}

.content {
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(227, 241, 255);
}

h1 {
    background-color:deepskyblue;
    padding: 1em ;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

li {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:rgb(255, 212, 156);
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    
}