body {
    background-color:rgb(236, 224, 208);
    margin: 0 auto;
}

.content {

    width: fit-content;
    margin: auto;
    padding: 1em;
    background-color: lightslategray;
}

h1 {
    width: fit-content;
    background-color:deepskyblue;
    padding: 1em ;
    margin: 2rem auto;
    align-content: center;
    justify-content: center;
    height: fit-content;
}

li {
    display: flex;
    width: fit-content;
    background-color:beige;
    padding: 1rem;
    font-size: 24px;
    margin: 2rem auto;
    align-content: center;
    justify-content: center;
    height: fit-content;
    
}